*{
  margin: 0;
  padding: 2px;
}

body{
  min-height: 100vh;
  background-image: url(pics/mohammad-rahmani-LrxSl4ZxoRs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
  height: 50px;
}

nav{
  background-color: rgba(240, 255, 255, 0.274);
  backdrop-filter: blur(10px);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0);
  border-radius: 6px;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 6px;
}

nav a:hover{
  background-color: #f0f0f0;
}

nav li:first-child{
  margin-right: auto;
}

nav ul li a svg{
  fill: black;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.753);
  backdrop-filter: blur(100px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

@media(max-width: 680px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media(max-width: 480px){
  .sidebar{
    width: 100%;
  }
}

main{
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 6px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}

main h1{
  font-size: 84px;
  font-family: "Inconsolata", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
  margin-top: 15px;
}

.bio{
  display: flex;
  align-items: flex-start;
}

.bio span{
  font-size: 58px;
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

.school-link{
  text-decoration: none;
  color: black;
}

.bio-pic{
  border-radius: 30px;
}

.school-link:hover{
  color: aqua;
  transition: 0.3s;
}

.bio-text{
  text-align: justify;
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

@media (max-width: 1024px){
  main h1{
    font-size: 64px;
  }

  .bio span{
    font-size: 30px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  }

  .bio-text{
    font-size: 15px;
  }
}

@media (max-width: 768px){
  main h1{
    font-size: 54px;
  }

  .bio span{
    font-size: 20px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  }
  .bio-text{
    font-size: 11px;
  }

  .bio-pic{
    width: 350px;
  }
}

@media (max-width: 425px){
  .bio{
    flex-direction: column;
  }

  main h1{
    font-size: 64px;
  }

  .bio span{
    font-size: 25px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  }

  .bio-text{
    font-size: 15px;
  }
}

@media (max-width: 375px){
  .bio-pic{
    width: 250px;
    align-items: center;
  }

  .bio span{
    font-size: 20px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  }
}

@media (max-width: 320px){
  main h1{
    font-size: 44px;
  }

  .bio span{
    font-size: 18px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  }
}

.contact-body{
  background: linear-gradient(#ffdad5, #fff7f9);
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-info{
  padding: 10px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  border-radius: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
}

.info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name{
  font-size: 28px;
  font-weight: 600;
  font-family: "Inconsolata", Arial, Helvetica, sans-serif;
  padding: 3px;
  color: white;
}

.icons{
  width: 30px;
}

.media-link{
  text-decoration: none;
  color: #2596be;
}

.contact-left-title h2{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
  color: #a9a9a9;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

.contact-left button img{
  height: 15px;
}

@media (max-width: 800px) {
  .contact-inputs{
    width: 80vw;
  }
  .contact-right{
    display: none;
  }
}

@media (max-width: 425px) {
  .contact-inputs{
    width: 65vw;
  }
  .contact-right{
    display: none;
  }
}

@media (max-width: 320px) {
  .name{
    font-size: 26px;
  }
}

.protfolio{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #f06b6b, #f09656, #f0c249);
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.cards a{
  text-decoration: none;
  color: white;
  font-size: 46px;
  font-family: "Outfit" Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.ruler{
  border: none;
  width: 120px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.discription{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.note{
  color: black;
  font-family: "Inconsolata", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}